/* Color Theme Swatches in Hex
.Volkswagen-ID.Buzz-1-hex { color: #8041BF; }
.Volkswagen-ID.Buzz-2-hex { color: #5E3E8C; }
.Volkswagen-ID.Buzz-3-hex { color: #BFB415; }
.Volkswagen-ID.Buzz-4-hex { color: #59540B; }
.Volkswagen-ID.Buzz-5-hex { color: #BFA317; }

/* Color Theme Swatches in RGBA */
/* .Volkswagen-ID.Buzz-1-rgba { color: rgba(128, 65, 191, 1); }
.Volkswagen-ID.Buzz-2-rgba { color: rgba(94, 61, 140, 1); }
.Volkswagen-ID.Buzz-3-rgba { color: rgba(191, 179, 21, 1); }
.Volkswagen-ID.Buzz-4-rgba { color: rgba(89, 84, 10, 1); }
.Volkswagen-ID.Buzz-5-rgba { color: rgba(191, 163, 22, 1); } */

/* Color Theme Swatches in HSLA */
/* .Volkswagen-ID.Buzz-1-hsla { color: hsla(270, 49, 50, 1); }
.Volkswagen-ID.Buzz-2-hsla { color: hsla(264, 38, 39, 1); }
.Volkswagen-ID.Buzz-3-hsla { color: hsla(56, 80, 41, 1); }
.Volkswagen-ID.Buzz-4-hsla { color: hsla(56, 78, 19, 1); }
.Volkswagen-ID.Buzz-5-hsla { color: hsla(50, 78, 42, 1); } */ 

body {
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.container {
    background-color: rgba(191, 163, 22, .9);
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
}

h1 {
    grid-column: 2/3;
    margin-top: 175px;
    font-size: 100px; 
}

section {
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    justify-content: space-evenly;
}

.bot {
    background-color: rgba(128, 65, 191, .7);
}

article {
    /* border: 2px solid pink; */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

div {
    height: 35px;
    width: 200px;
    display: flex;
    
}

h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 50px;
}


.Buzz2 {
    background-color: rgba(94, 61, 140, .8);
}

.Buzz3 {
    background-color: rgba(191, 179, 21, 1);
}

.Buzz4 {
    background-color: rgba(89, 84, 10, .8);
}

p {
    width: fit-content;
    font-size: 15px;
}

@media (max-width: 576px) {

body {
    display: grid;
    }

.container {
    height: 33vh;
}

h1 {
    font-size: 75px;
    margin-top: 60px;
    text-align: center;
    color: rgba(94, 61, 140, 1)
}

.bot {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 67vh;
    display: grid;
    grid-template-rows: repeat(3, 33%)
}

.article {
    margin-bottom: 140px;
    display: grid;
    margin: 25px;

}

.partone {
    grid-column: 2/3;
    grid-row: 1/2;
}

.Buzz2 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.parttwo {
    grid-column: 2/3;
    grid-row: 2/3;
}

.Buzz3 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.partthree {
    grid-column: 2/3;
    grid-row: 3/4;
}

.Buzz4  {
    grid-column: 2/3;
    grid-row: 3/4;
}

div {
    height: 20px;
    width: 125px;
    display: grid;
}

h2 {
    font-size: 25px;
    margin-top: 25px;
    
}

p {
    font-size: 13px;
}
}